/* css styles */
figure figcaption {
  text-align: center;
}

.exercise {
  padding: 0.5em;
  margin: 1.5em;
  padding-left: 65px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: 10px center;
  min-height: 80px;
  color: #1f5386;
  background-color: #e4e9e4;
  border: solid 3px #7a767a;
  border-radius: 25px;
}
  
.exercise {
  background-image: url("img/puzzle-div.png");
}

  /* details sections */
details > summary {
  padding: 10px 10px;
  background-color: #f1f6f1;
  border: none;
  border-radius: 25px;
  /*box-shadow: 3px 3px 4px black;*/
}
  
details {
  border-radius: 25px;
  background-color: #f1f6f1;
  padding: 5px 5px;
  margin-left: 5px;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DCCFDE;
  border-radius: 5px;
}
